{% extends "index.html" %}

{% block style %}
style="background-image: url('../static/img/about-bg.jpg')"
{% endblock %}

{% block heading %}
<div class="site-heading">
    <h1>Authors</h1>
    <span class="subheading">List of Authors</span>
  </div>
{% endblock %}

{% block content %}
    {% for author in authors %}
    <div class="post-preview text-center">
        <a href="{% url 'author-detail' author.pk %}">
          <h3 class="post-subtitle">
            {{author.name}}          
          </h3>
        </a>
      </div>
      <hr>
    {% endfor %}
{% endblock %}
