{% extends "index.html" %}

{% block style %}
style="background-image: url('../static/img/bg-masthead.jpg')"
{% endblock %}

{% block heading %}
<div class="post-heading">
    <h1>{{ author.name }}</h1>
    <span class="meta">Books authored by
      {{ author.name }}</span>
  </div>
{% endblock %}

{% block content %}
    {% for book in author.books.all %}
        {% if book.review %}
            <div class="book">
                {% if book.is_favourite %} <p class="badge badge-info float-right"><i class="fa fa-thumbs-up "></i> Favourite</p>{% endif %}
                <h3><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h3>
                    
                    <p>{{book.review|linebreaks}}</p>
                
            </div>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}