{% load static %}
<div class="post-preview">  
      <div class="media ">
        <div class="media-body">
          <h2 class="section-heading">
            {{ book.title }}
          </h2>
          <h4 class="post-subtitle">
            By {% for author in book.authors.all %}{{author.name}}{% endfor %}
          </h4>
          {% if book.genre %} <p data-toggle="tool-tip" data-placement="bottom" title="Book's Genre" style="cursor: pointer;" class="badge badge-dark"><i class="fa fa-book "></i> {{ book.genre }}</p>{% endif %}

          {% if book.is_favourite %} <p data-toggle="tool-tip" data-placement="bottom" title="This book is in our top 100 all-time list" style="cursor: pointer;" class="badge badge-info"><i class="fa fa-thumbs-up "></i> Favourite</p>{% endif %}
          
        </div>
       
          <img data-toggle="tool-tip" data-placement="bottom" title="Book's Cover Image" style="cursor: pointer;" class="d-flex align-self-center img-fluid w-25" src="{{ book.image.url }}" alt="{{ book.title|lower }}" >

    </div>
    <p>{{book.review|linebreaks }}</p>
            <p class="post-meta">
                Reviewed on <strong>{{ book.date_reviewed|date:"D d M Y" }}</strong>
                {% if book.reviewed_by %}
                    by <strong><a style="text-decoration: inherit; color: inherit;" href="{% url 'editor-detail' book.reviewed_by.slug %}">{{ book.reviewed_by.user.get_full_name|default:book.reviewed_by.user}}</strong>
                {% endif %}
                <img data-toggle="tool-tip" data-placement="bottom" title="Editor's Profile Picture" src="{{ book.reviewed_by.image.url }}" alt="" class="ml-3 img-fluid " style="width: 50px; height: 50px; border-radius: 100%;"></a>
            </p>
      </div>
        <hr>
