{% load static %}
<div class="post-preview ">
      <h2 class="post-title pt-3">
        Book Resources 
      </h2>
      <a href="#" style="color: #17a2b8;" >
      <h3 class="post-subtitle pt-4">
        {{ book.title }} by 
        {% for author in book.authors.all %}
        {{ author.name }}
        {% endfor %}
      </h3>
    </a>
        
        <div class=" post-preview  media p-3">
          <a data-toggle="tool-tip" data-placement="bottom" title="Audible logo" href="{{ book.audible }}"><img class=" img img-fluid" style="width: 75px; height: 75px; border-radius: 50%;" src="{% static 'img/new-logo.jpg' %}" alt="audible-logo"></a>
            <p class="post-meta media-body  ml-5 "> Get the audio version of this book for <span class="text-dark font-weight-bold"> free </span>  on
                <a data-toggle="tool-tip" data-placement="bottom" title="Go to Audible.com" style="text-decoration: inherit;" href="{{ book.audible }}"> Audible</a>
            </p>
        </div>
    
    
  </div>
  <hr>