{% extends "index.html" %}
{% load humanize %}

{% block style %}
style="background-image: url('../static/img/home-bg.jpg')"
{% endblock %}

{% block heading %}
<div class="site-heading">
    <h1>The Reader's Guide</h1>
    <span class="subheading">A deep dive into the magical world of books!</span>
  </div>
{% endblock %}

{% block content %}
    {% for book in books|dictsortreversed:"date_reviewed"  %}
    
        {% include "book-short.html" %}
    {% empty %}
    <p class="text-center">Posts coming soon...</p>
    {% endfor  %}
  
{% if books.count > 5 %}
<!-- Pager -->
  <div class="clearfix">
    <em><h5 class=" float-left">Total {{ books.count|apnumber }} book{{books.count|pluralize}} reviewed!</h5></em>
    <a class="btn btn-primary float-right" href="#">Older Reviews &rarr;</a>
  </div>
{% endif %}
{% endblock %}