{% extends "index.html" %}

{% block style %}
style="background-image: url('../static/img/about-bg2.jpg')"
{% endblock %}

{% block heading %}
<div class="page-heading">
    <h1>About Us</h1>
    <span class="subheading">Know more about what we do.</span>
</div>
{% endblock %}

{% block content %}
    <p><span class="font-weight-bold">The Reader's Guide</span> is a more than just a book review site, it is a community of passionate readers and book lovers. Our aim is to bring you the best and most useful takeaways from a library of great reads all over the world!  </p>
    <p>Our team is made up of creative content writers from all walks of life, most importantly they are a caring group of readers who cannot resist sharing the timeless wisdom that is passed down to them by great authors and storytellers.</p>
    <p>The scientist, astonomer, and author, <span class="font-weight-bold"> Carl Sagan </span> on the magic of books: </p>
    <blockquote class="block-quote">"What an astonishing thing a book is. It's a flat object made from a tree with flexible parts on which are imprinted lots of funny dark squiggles. But one glance at it and you're inside the mind of another person, maybe somebody dead for thousands of years. Across the millenia, an author is speaking clearly and silently inside your head, directly to you. Writing is perhaps the greatest of human inventions, binding together people who never knew each other, citizens of distant epochs. Books break the shackles of time. A book is proof that humans are capable of working magic."</blockquote>
    <p>We look forward to your continued engagement as we explore the magic hidden in books and dive into the world beyond. Your likes, comments and shares will be greatly appreciated. Happy reading!</p>
{% endblock %}
